body {
    width: 100%;
    background-color: #e6eef5;
}


#heading {
    margin-left: 570px;
}

.container1 {
    margin-left: 400px;
    font-size: 20px;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 99%;
}

td,
th {

    border: 1px solid black;
    text-align: left;
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.button {
    font-size: 1px;
}