body {
    width: 100%;
    background-color: #e6eef5;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#heading {
    margin-left: 570px;
}

.container1 {
    margin-left: 400px;
    font-size: 20px;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 99%;
}

td,
th {

    border: 1px solid black;
    text-align: left;
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.button {
    font-size: 1px;
}